.btn{
    width: 120px;
    padding: 12px 20px;
    color: rgba(136, 96, 255, 1);
    background-color:rgba(240, 239, 255, 1);

    border: none;
    border-radius: 4px;
}

.btn:hover {
    color: rgba(255, 255, 255, 1);
    background-color:rgba(191, 131, 255, 1);
}