.btn {
    padding: 12px 20px;
    width: 100%;
    border: none;
    border-radius: 4px;

    font-size: 16px;
    color: rgba(255, 255, 255, 1);

    background-color: rgba(176, 102, 255, 1);
}

.btn:hover {
    background-color: rgba(191, 131, 255, 1);
}

.btn_container {
    display: flex;
    align-items: center;
    column-gap: 8px;
}