.form {
    display: flex;
    flex-direction: column;
    row-gap: 24px;

    width: 100%;
    padding: 24px;
    
    background-color: #ffff;

    border: 1px solid rgba(234, 236, 240, 1);
    border-radius: 16px;
}